body {
text-align: center;
background-color: #e2f0ed;
}

#header{
  background-color: white;
  margin: 80px;
}

/*Chocolate Chip Cookies*/
h1{
  font-family: "Lucida Console";
  font: 40px;
  left: 0;
  line-height: 15px;
  margin-top: 0px;
  position: absolute;
  text-align: center;
  width: 100%;
  color: #ff3a19;
}

#content{
  width: 60%;
  height: 90%;
  margin: 5%;
  margin-left: 5%;
  margin-right: 5%;
  display: inline-block;
  text-align: left;
  background-color: #e2f0ed;
}

#process{
  list-style-type: none;
}

/*video link*/
p a:hover{
  background-color: #f8d8d5;
}


#nav{
  list-style-type: none;
  margin: 0;
  padding: 1%;
  overflow: hidden;
  position: fixed;
  top: 0;
  /*background-color: #0d97ac;*/
}

li a, .dropbtn{
  display: block;
  color: #e85a4f;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

li a:hover, dropdown:hover .dropbtn{
  background-color: #f8d8d5;
}
