body {
text-align: center;
background-color: #eae7dc;
}

/*yellow block in the middle*/
#main {
  width: 98%;
  height: 700px;
  margin: 50px auto;
  background: #e2f0ed;
  display: inline-block;
}

/*Hi I'm Muchen, a ...*/
p{
  font-family: "Times New Roman";
  font-size: 700%;
  left: 8%;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: left;
  top: 40%;
  width: 100%;
  color: #ff3a19;
}

h4{
  font-family: "Times New Roman";
  font-size: 400%;
  left: 8%;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: left;
  top: 30%;
  width: 100%;
  color: #ff8875;
}

/*copyright*/
#footer{
  clear: both;
  padding: 10px;
  color: #ff3a19;
  text-align: right;
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 1%;
  overflow: hidden;
  position: fixed;
  top: 0;
  /*background-color: #0d97ac;*/
}

li {
  float: left;
}

li a, .dropbtn{
  display: block;
  color: #ff3a19;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

li a:hover, dropdown:hover .dropbtn{
  background-color: #f8d8d5;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown content "fun stuff" */
.dropdown-content2{
  display: none;
  position: relative;
  max-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
  background-color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content2 {
  display: block;
}

/*dropdown menu for "serious stuff"*/
.dropdown-content1{
  display: none;
  position: relative;
  max-width: 110px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
  background-color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content1 {
  display: block;
}
