body {
  margin: 40px;
  background-color: #e1e2d3;
}

.myName {
	grid-area: myName;
	font-size: 6.5vw;
	color: #ff9636;
}

.content {
	grid-area: content;
	font-size: 1.22vw;
}

.smallText{
	grid-area: smallText;
	font-size: 150%;
}

.mediumText{
	grid-area: mediumText;
	background-color: #ff9636;
	font-size: 1.3vw;
}

.largeText{
	grid-area: largeText;
	font-size: 150%;
}

.header {
	grid-area: header;
}

ul{
	display: flex;
}

.nav{
	list-style: none;
	margin: 0 30px 0 0;
	font-family: 'Karla', sans-serif;
}

.link{
	color: black;
	text-decoration: none;
}


.wrapper {
   width: calc(100vw - 80px);
   height: calc(100vh - 80px);
   display: grid;
   grid-gap: 20px;
   grid-template-rows: 80px 150px 60px 220px 80px;
   grid-template-columns: repeat(4, 1fr);
   grid-template-areas:
          ". .  . header"
          "myName myName . ."
          ". smallText largeText largeText"
          ". content content content"
          ". mediumText mediumText footer";
   background-color: #e1e2d3;
}

.box {
  border-radius: 2px;
  padding: 10px;
  /*border: 1px dashed;*/
}

button{
	background-color: transparent;
	border: none;
	display: inline-block;
}

button:focus {outline:0;}
